<a href="https://colab.research.google.com/github/Priyanshu-4096/21BDS0083_EDA/blob/main/21BDS0083_eda_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Name - Priyanshu Joarder
Reg no - 21BDS0083
Course Title - Exploratory Data Analysis
Course Code - BCSE331L

Load the Dataset and explore Dimension

In [ ]:
import pandas as pd

# Load dataset (replace with your dataset path)
file_path = "/content/SuicideChina.csv"
data = pd.read_csv(file_path)

### Exploring the Dimensions of the Dataset

# 1. Get the number of rows and columns (dimensions)
num_rows, num_columns = data.shape

# 2. Maximum value for each numerical column
max_values_numerical = data.select_dtypes(include=['number']).max()

# 3. Maximum length of categorical/text fields (if applicable)
max_length_categorical = data.select_dtypes(include=['object']).applymap(len).max()

# 4. Maximum number of unique values per column (categorical and numerical)
max_unique_values = data.apply(lambda col: col.nunique())

### Summary of Results
print(f"Number of Rows: {num_rows}")
print(f"Number of Columns: {num_columns}")
print("\nMaximum Values for Numerical Columns:\n", max_values_numerical)
print("\nMaximum Length of Categorical/Text Columns:\n", max_length_categorical)
print("\nMaximum Number of Unique Values per Column:\n", max_unique_values)

# Optionally, you can return the results in a dictionary format
summary_results = {
    "num_rows": num_rows,
    "num_columns": num_columns,
    "max_values_numerical": max_values_numerical,
    "max_length_categorical": max_length_categorical,
    "max_unique_values": max_unique_values
}

summary_results

Number of Rows: 2571
Number of Columns: 12

Maximum Values for Numerical Columns:
 rownames     2571
Person_ID    2571
Year         2011
Month          12
Age           100
dtype: int64

Maximum Length of Categorical/Text Columns:
 Hospitalised     3
Died             3
Urban            7
Sex              6
Education        9
Occupation      16
method          13
dtype: int64

Maximum Number of Unique Values per Column:
 rownames        2571
Person_ID       2571
Hospitalised       2
Died               2
Urban              3
Year               3
Month             12
Sex                2
Age               87
Education          5
Occupation        10
method             9
dtype: int64

<ipython-input-5-2886fe9b01f9>:16: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  max_length_categorical = data.select_dtypes(include=['object']).applymap(len).max()

{'num_rows': 2571,
 'num_columns': 12,
 'max_values_numerical': rownames     2571
 Person_ID    2571
 Year         2011
 Month          12
 Age           100
 dtype: int64,
 'max_length_categorical': Hospitalised     3
 Died             3
 Urban            7
 Sex              6
 Education        9
 Occupation      16
 method          13
 dtype: int64,
 'max_unique_values': rownames        2571
 Person_ID       2571
 Hospitalised       2
 Died               2
 Urban              3
 Year               3
 Month             12
 Sex                2
 Age               87
 Education          5
 Occupation        10
 method             9
 dtype: int64}

Summary and Data Handling

In [ ]:
import pandas as pd

### 1. Summary Statistics (Numerical and Categorical Data)

# Summary for numerical data
summary_numerical = data.describe()

# Summary for categorical data (e.g., counting unique values and the most frequent value)
summary_categorical = data.describe(include=['object'])

# Maximum value for numerical data
max_values_numerical = data.select_dtypes(include=['number']).max()

# Maximum length for categorical/text fields
max_length_categorical = data.select_dtypes(include=['object']).applymap(len).max()

# Maximum number of unique values per column
max_unique_values = data.apply(lambda col: col.nunique())

### 2. Data Handling

# Handle Missing Values
# Fill missing values for numerical columns with the maximum value
data_filled = data.copy()
for column in data.select_dtypes(include=['number']).columns:
    max_value = data[column].max()
    data_filled[column].fillna(max_value, inplace=True)

# Fill missing values for categorical columns with the most frequent value (mode)
for column in data.select_dtypes(include=['object']).columns:
    most_frequent_value = data[column].mode()[0]
    data_filled[column].fillna(most_frequent_value, inplace=True)

# Handle Duplicates
# Check for duplicate rows
duplicate_rows = data_filled.duplicated().sum()

# Remove duplicate rows
data_deduplicated = data_filled.drop_duplicates()

### 3. Summary of Results

print("Numerical Data Summary:\n", summary_numerical)
print("\nCategorical Data Summary:\n", summary_categorical)
print("\nMaximum Values for Numerical Columns:\n", max_values_numerical)
print("\nMaximum Length of Categorical/Text Columns:\n", max_length_categorical)
print("\nMaximum Number of Unique Values per Column:\n", max_unique_values)
print(f"\nNumber of Duplicate Rows: {duplicate_rows}")

# Optionally, you can return the results in a dictionary format
summary_results = {
    "summary_numerical": summary_numerical,
    "summary_categorical": summary_categorical,
    "max_values_numerical": max_values_numerical,
    "max_length_categorical": max_length_categorical,
    "max_unique_values": max_unique_values,
    "duplicate_rows_count": duplicate_rows
}

summary_results

Numerical Data Summary:
           rownames    Person_ID         Year        Month          Age
count  2571.000000  2571.000000  2571.000000  2571.000000  2571.000000
mean   1286.000000  1286.000000  2010.045508     6.298327    52.630883
std     742.328095   742.328095     0.791412     3.202515    19.783878
min       1.000000     1.000000  2009.000000     1.000000    12.000000
25%     643.500000   643.500000  2009.000000     4.000000    37.000000
50%    1286.000000  1286.000000  2010.000000     6.000000    53.000000
75%    1928.500000  1928.500000  2011.000000     9.000000    69.000000
max    2571.000000  2571.000000  2011.000000    12.000000   100.000000

Categorical Data Summary:
        Hospitalised  Died Urban     Sex  Education Occupation     method
count          2571  2571  2571    2571       2571       2571       2571
unique            2     2     3       2          5         10          9
top             yes    no    no  female  Secondary    farming  Pesticide
freq           1553  1315  2213    1328       1280       2032       1768

Maximum Values for Numerical Columns:
 rownames     2571
Person_ID    2571
Year         2011
Month          12
Age           100
dtype: int64

Maximum Length of Categorical/Text Columns:
 Hospitalised     3
Died             3
Urban            7
Sex              6
Education        9
Occupation      16
method          13
dtype: int64

Maximum Number of Unique Values per Column:
 rownames        2571
Person_ID       2571
Hospitalised       2
Died               2
Urban              3
Year               3
Month             12
Sex                2
Age               87
Education          5
Occupation        10
method             9
dtype: int64

Number of Duplicate Rows: 0

<ipython-input-7-71aec74613b4>:15: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  max_length_categorical = data.select_dtypes(include=['object']).applymap(len).max()

{'summary_numerical':           rownames    Person_ID         Year        Month          Age
 count  2571.000000  2571.000000  2571.000000  2571.000000  2571.000000
 mean   1286.000000  1286.000000  2010.045508     6.298327    52.630883
 std     742.328095   742.328095     0.791412     3.202515    19.783878
 min       1.000000     1.000000  2009.000000     1.000000    12.000000
 25%     643.500000   643.500000  2009.000000     4.000000    37.000000
 50%    1286.000000  1286.000000  2010.000000     6.000000    53.000000
 75%    1928.500000  1928.500000  2011.000000     9.000000    69.000000
 max    2571.000000  2571.000000  2011.000000    12.000000   100.000000,
 'summary_categorical':        Hospitalised  Died Urban     Sex  Education Occupation     method
 count          2571  2571  2571    2571       2571       2571       2571
 unique            2     2     3       2          5         10          9
 top             yes    no    no  female  Secondary    farming  Pesticide
 freq           1553  1315  2213    1328       1280       2032       1768,
 'max_values_numerical': rownames     2571
 Person_ID    2571
 Year         2011
 Month          12
 Age           100
 dtype: int64,
 'max_length_categorical': Hospitalised     3
 Died             3
 Urban            7
 Sex              6
 Education        9
 Occupation      16
 method          13
 dtype: int64,
 'max_unique_values': rownames        2571
 Person_ID       2571
 Hospitalised       2
 Died               2
 Urban              3
 Year               3
 Month             12
 Sex                2
 Age               87
 Education          5
 Occupation        10
 method             9
 dtype: int64,
 'duplicate_rows_count': 0}